
.container {
    display: flex;
    justify-content: center;
    align-items: center; 
    height: 100vh; 
    margin-right: 50px;
  }
 .text{
    margin-bottom: 50px;
    margin-left: 50px;
    color: red;
 }
  .buttons{
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px;
    gap: 20px;
    cursor: pointer;
   
  }
  .yes{
    color: white;
    background-color: green;
    border-radius: 10px;
    padding: 5px 15px;
    border: none;
  }
    .no{
        color : white;
        background-color: red;
        border-radius: 10px;
        padding: 5px 15px;
        border: none;
    }
  
 
  
  
  